{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row px-2 py-2 pt-md-4 pb-md-4 mx-auto text-center">
            <div class="col">
                <h1 class="">Organizations form</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <div class="row px-2 py-2 pt-md-4 pb-md-4">
            <div class="col">
                <ul class="users list-group" data-prototype="{{ form_widget(form.users.vars.prototype)|e('html_attr') }}">
                {% for user in form.users %}
                    <li class="list-group-item">{{ form_row(user) }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row px-2 py-2 pt-md-4 pb-md-4">
            <div class="col">
                <button type="button" class="btn btn-secondary add_item_link" data-collection-holder-class="users">Add user</button>
            </div>
        </div>     
        {{ form_end(form) }}
    </div>

    <script defer>
    $(document).ready(function() {
        // Get the ul that holds the collection of tags
        var $tagsCollectionHolder = $('ul.users');
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

        // add a delete link to all of the existing tag form li elements
        $tagsCollectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        $('body').on('click', '.add_item_link', function(e) {
            var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
            // add a new tag form (see next code block)
            addFormToCollection($collectionHolderClass);
        })
    });

    function addFormToCollection($collectionHolderClass) {
        // Get the ul that holds the collection of tags
        var $collectionHolder = $('.' + $collectionHolderClass);

        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
        // Add the new form at the end of the list
        $collectionHolder.append($newFormLi)
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<button type="button" class="btn btn-secondary">Remove</button>');
        $tagFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
    </script>
{% endblock %}